html{
    font-family: sans-serif;
}

header{
    margin-bottom: 50px;
    background-color: coral;
    padding-block: 30px;
}


.flex{
    display: flex;
    justify-content: space-between;
    margin-inline: 10%;
    flex-wrap: wrap;
}



.boolean-logo{
    height: 30px;
}



.icon-header{
    height: 20px;
    fill: white;
    padding-inline: 10px;
}

.gap-card{
    justify-content: space-between;
    gap: 30px;
    
}

.img{
    height: 900px;
    
}

.img-container{
    position:relative;
}

.icon_heart{
    background-color: white;
    padding: 15px;
    position: absolute;
    top: 20px;
    right: 0px;
    line-height: 0;
}

.icon_heart:hover{
    fill: red;
}


.bedge{
    position: absolute;
    bottom: 50px;
}

footer{
    
    margin-top: 50px;
    background-color: rgb(26, 26, 26);
    padding-block: 30px;
    
}

.red{
    background-color: red;
    color: white;
    padding: 5px;
}

.green{
    background-color: green;
    color: white;
    padding: 5px;
}

a{
    color: white;
    padding-right: 10px;
}

.price{
    
    text-decoration: line-through;
}

.discount{
    color: red;
    font-weight: bold;
}

h3{
    padding-bottom: 10px;
}
h4{
    padding-bottom: 10px;
    color: white;
}

.icon-footer{
    height: 20px;
    fill: white;
    padding-inline: 5px;
}

.img-hover:hover{
    cursor: pointer;
    opacity: 0;
}

.img-disappear{
    position: absolute; 
    z-index: -1;
}

.h3-footer{
    color: white;
}